/* style.css */
body{
  background: white;
  color: midnightblue;
  font-size: 25px;
  font-family: Roboto;
}
h3 {
  font-family: Roboto;
  color: darkslateblue;
  font-weight: bold;
  font-size: 40px;
}
h1{
  font-family: Courier;
  color: steelblue;
  font-weight: lighter;
  font-size: 20px;
}
h2 {
  font-family: Roboto;
  color: black;
  font-weight: lighter;
  font-size: 17px;
}
h4 {
  font-family: Roboto;
  color: gray;
  font-weight: lighter;
  font-size: 13px;
}
a {
  color: steelblue;
}
a:hover {
  text-decoration: none;
  color: red;
}

#baseline p {
  font-weight: bold;
  color: darkslateblue;
}