/* style.css */
body{
  background:#ffefd5;
  color: midnightblue;
  font-size: 25px;
}
h3 {
  font-family: Pacifico;
  color: darkslateblue;
  font-weight: bold;
  font-size: 45px;
}
h2 {
  font-family: Roboto;
  color: black;
  font-weight: lighter;
  font-size: 17px;
}
h4 {
  font-family: Roboto;
  color: gray;
  font-size: 13px;
}
a {
  color: steelblue;
}
a:hover {
  text-decoration: none;
  color: orange;
}

#baseline p {
  font-family: Pacifico;
  font-weight: bold;
  color: darkslateblue;
}